h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Baloo Tamma', cursive;
}

span {
    color: sandybrown;
}

#footer {
    margin: 10px 0px;
    background: gray;
    padding: 10px;
}
a {
    text-decoration: none;
}

#latabla {
    padding-top: 5em;
    padding-left: 20em; 
    padding-bottom: 5em;
}

.fila-impar > td:nth-of-type(even) {
    height: 5em;
    width: 5em;  
    background: black;
}

.fila-par > td:nth-of-type(odd) {
    height: 5em;
    width: 5em;  
    background: black;
}

#torre-negro > p{ 
    visibility: hidden;
    
}
#caballo-negro > p{ 
    visibility: hidden;
    
}
#alfil-negro > p{ 
    visibility: hidden;
    
}
#reina-negro > p{ 
    visibility: hidden;
    
}
#rey-negro > p{ 
    visibility: hidden;
    
}
#peon-negro > p{ 
    visibility: hidden;
    
}

#torre-negro:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 5em;
}
#caballo-negro:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 2.5em;
}
#alfil-negro:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 5em;
}
#rey-negro:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 5em;
}
#reina-negro:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 5em;
}
#peon-negro:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 5em;
}
/*sdfasdfsdfsadfsfsfsdfgsdg*/
#torre-blanco > p{ 
    visibility: hidden;
    
}
#caballo-blanco > p{ 
    visibility: hidden;
    
}
#alfil-blanco > p{ 
    visibility: hidden;
    
}
#reina-blanco > p{ 
    visibility: hidden;
    
}
#rey-blanco > p{ 
    visibility: hidden;
    
}
#peon-blanco > p{ 
    visibility: hidden;
    
}


#torre-blanco:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 5em;
}
#caballo-blanco:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 2.5em;
}
#alfil-blanco:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 5em;
}
#rey-blanco:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 5em;
}
#reina-blanco:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 5em;
}
#peon-blanco:hover > p {
    background-color: rgba(255, 0, 0, 0.5);
    visibility: visible;
    margin: 0;
    line-height: 5em;   
}
/*/////*/
.solo:hover {
    background-color: rgba(255, 0, 0, 0.5);
}


